/* (A) ENTIRE PAGE */
* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

/* (B) GAME */
#ttt-game {
  display: grid;
  max-width: 600px;
  margin: 0 auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 5px;
}
#ttt-game div {
  font-size: 3em;
  text-align: center;
  background: #eee;
  padding: 50px;
}
#ttt-game div.player { background: #c2e3ff; }
#ttt-game div.computer { background: #ffebeb; }
